body
{
    font-family: 'Montserrat';
    height: 100vh;
    background-image: url(photo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center; 
}

.title
{
    height:60px;
    width: 400px;
    background-color: black;
    border: 1px solid white;
    color:white;
    text-align: center;
    padding:10px;
    font-size: 32px;
    border-radius: 15px;
}

.Quotes
{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 3px solid black; */
    box-shadow: 10px 10px;
    width: 1200px;
    height: 400px;
    background-color: rgba(255,255,255, 0.25);
    border-radius: 15px;
    margin:20px;

}

.Quote,.Person
{
    padding:25px;
    font-size: 32px;
    text-align: center;
    font-weight: bold;

}

.Person
{
    color:brown;
}
.new-quote
{

   text-align: center;
    width: 100px;
    height:50px;
    color:white;
    background-color: black;
    border-radius: 10px;
    font-weight: bold;
    padding: 3px 10px;
    cursor: pointer;
}

.new-quote:active
{
    background-color: lightblue;
}

.main
{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}